body{
<<<<<<< HEAD
    background: rgb(240, 235, 248);
=======
    background: #ccc;
>>>>>>> 62b0197 (alteracao)
}
main{
    text-align: center;
    padding: 20PX 0;
    background: white;
    text-align: center;
    border-radius: 30px;
    max-width: 90%;
    padding: 3%;
    margin: auto;
    text-transform: uppercase;
<<<<<<< HEAD
=======
    border-style:solid;
>>>>>>> 62b0197 (alteracao)
    
}
.botao{
    background: white;
    text-align: center;
    border-radius: 30px;
    max-width: 90%;
    padding: 3%;
    margin: auto;
    text-transform: uppercase;
<<<<<<< HEAD
=======
    border-style:solid;
>>>>>>> 62b0197 (alteracao)
}